# Server Configuration
PORT=5001
NODE_ENV=development

# Stripe Configuration
STRIPE_SECRET_KEY=abc
STRIPE_WEBHOOK_SECRET=abc

# Email Configuration (Gmail)
EMAIL_USER=abc@gmail.com
EMAIL_PASSWORD=1234 1234 1234 1234

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# Firebase Configuration
FIREBASE_API_KEY=AIzaSyATW31yj6W9NDWda3ulvgex784aPmbj4zo
FIREBASE_AUTH_DOMAIN=ultrahealers-cb5ee.firebaseapp.com
FIREBASE_PROJECT_ID=ultrahealers-cb5ee
FIREBASE_STORAGE_BUCKET=ultrahealers-cb5ee.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=545699914711
FIREBASE_APP_ID=1:545699914711:web:cbefec69ebe5a65245a192
FIREBASE_MEASUREMENT_ID=G-VDG6RFGR9Q
FIREBASE_DATABASE_URL=https://ultrahealers-cb5ee-default-rtdb.firebaseio.com
